<!DOCTYPE html>
<html>
<title>IOT_project</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="lib/react.min.js"></script>
<script type="text/javascript" src="lib/react-dom.min.js"></script>
<script src="lib/browser.min.js"></script>

<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Poppins", sans-serif
  }

  body {
    font-size: 16px;
  }

  img {
    margin-bottom: -8px;
  }

  .mySlides {
    display: none;
  }
</style>

<body class="w3-content w3-black" style="max-width:1500px;">
  <div id="main"></div>
  <div id="footer"></div>
  <!-- Header with Slideshow -->
  <header class="w3-display-container w3-center">

    <div class="mySlides w3-animate-opacity">
      <img class="w3-image" src="img/app.jpg" alt="Image 1" style="min-width:500px" width="1500" height="1000">
      <div class="w3-display-left w3-padding w3-hide-small" style="width:35%">
        <div class="w3-black w3-opacity w3-hover-opacity-off w3-padding-large w3-round-large">
          <h1 class="w3-xlarge">Take photos with our app</h1>
          <hr class="w3-opacity">
          <p>Super simple installment: free of charge</p>
          <p><button class="w3-button w3-block w3-green w3-round" onclick="document.getElementById('download').style.display='block'">Download <i class="fa fa-android"></i> <i class="fa fa-apple"></i> <i class="fa fa-windows"></i></button></p>
          <p><button class="w3-button w3-block w3-green w3-round" onclick="document.getElementById('download').style.display='block'">Download <i class="fa fa-android"></i> <i class="fa fa-apple"></i> <i class="fa fa-windows"></i></button></p>

        </div>
      </div>
      <!-- w3-col l6 m8 -->
      <div class="w3-display-right w3-padding" style="width:40%">
        <div class=" w3-container w3-green w3-opacity">
          <h2><i class="fa fa-bed w3-margin-right "></i>Hotel Name</h2>
        </div>
        <div class="w3-container w3-white w3-padding-16  ">
          <div class="w3-row-padding  " style="margin:0 -16px; ">
            <div class="w3-half w3-margin-bottom ">
              <label><i class="fa fa-lightbulb-o "></i> Check In</label>
              <input class="w3-input w3-border " type="text " placeholder="DD MM YYYY " name="CheckIn " required>
            </div>
            <div class="w3-half ">
              <label><i class="fa fa-calendar-o "></i> Check Out</label>
              <input class="w3-input w3-border " type="text " placeholder="DD MM YYYY " name="CheckOut " required>
            </div>
          </div>
          <div class="w3-row-padding " style="margin:8px -16px; ">
            <div class="w3-half w3-margin-bottom ">
              <label><i class="fa fa-male "></i> Adults</label>
              <input class="w3-input w3-border " type="number " value="1 " name="Adults " min="1 " max="6 ">
            </div>
            <div class="w3-half ">
              <label><i class="fa fa-child "></i> Kids</label>
              <input class="w3-input w3-border " type="number " value="0 " name="Kids " min="0 " max="6 ">
            </div>
          </div>
          <button class="w3-button w3-dark-grey " type="submit "><i class="fa fa-search w3-margin-right "></i> Search availability</button>
        </div>
      </div>
    </div>
  </header>


  <!-- Footer -->
  <footer class="w3-container w3-padding-32 w3-light-grey w3-center w3-xlarge ">
    <h5>Find Us On</h5>
    <div class="w3-xlarge w3-padding-16">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
    <p class="w3-medium ">Design by <a href="https://www.facebook.com/thinh.dang.69 " target="_blank " class="w3-hover-text-green ">Thinh Dang</a></p>
  </footer>

  <script>
    // Slideshow
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides ");
      if (n > x.length) { slideIndex = 1 }
      if (n < 1) { slideIndex = x.length }
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none ";
      }
      x[slideIndex - 1].style.display = "block ";
    }
  </script>
  <hr/>
</body>

</html>